<div class="modal">
  <div class="modal-content">
    <div class="modal-button">
      <div>
        <button class=" button-modal" (click)="closeModal()">X</button>
      </div>
    </div>
    <div class="inputs-format">
      <form class="inside-form" [formGroup]="expenseForm">

        <select class="inputs-format form__input " formControlName="idFriend" for="idFriend" id="idFriend"
          name="idFriend">
          <option id="idFriend" *ngFor=" let friend of friends" value={{friend.id}}>{{friend.name}}
          </option>
        </select>

        <div>

          <input placeholder="Descripción de la compra...." class="inputs-format form__input " id="description"
            type="text" formControlName="description">
        </div>
        <div>

          <input placeholder="Cantidad pagada..." class="inputs-format form__input " id="amount" type="number"
            formControlName="amount">
        </div>
        <div>

          <input placeholder="Fechas de la compra..." class="inputs-format form__input " id="date" type="date"
            formControlName="date">
        </div>

        <input class="button-modal form__input " type="submit" value="Guardar" (click)="saveExpense()" />
      </form>
    </div>
  </div>
</div>