.div-list-expenses {
  display: grid;
  width: 250px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.expense-table tr {
  margin: 20px;
}

.table-tr {
  padding-bottom: 10px;
}

.container-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  padding: 10px 16px;
  margin: 10px 10px;
  color: #ffffff;
  background: #0fa942;
  border: 2px solid #0fa942;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  margin-top: 30px;
  align-items: flex-end;
  text-align: center;
}