<div class="button-container">
  <button class="container-button" (click)="showFriendModalToggle(true)">Añadir un amigo</button>
  <div *ngIf="isFriendModalOpen">
    <app-friend-modal (onSave)="getExpensesData()" (onSave)="showFriendModalToggle(false)"
      (onClose)="showFriendModalToggle(false)"></app-friend-modal>
  </div>


  <button class="container-button" (click)="showExpenseModalToggle(true)">Añadir un gasto</button>
  <div *ngIf="isExpenseModalOpen">
    <app-form (onSave)="getExpensesData()" (onSave)="showExpenseModalToggle(false)"
      (onClose)="showExpenseModalToggle(false)">
    </app-form>
  </div>
</div>

<body>
  <div class="div-list-expenses" *ngFor=" let expense of expenses">
    <tr class="table-tr">{{expense.name}}</tr>
    <tr class="table-tr">{{expense.description}}</tr>
    <tr class="table-tr">{{expense.amount | number : '1.2-2'}}$</tr>
    <tr class="table-tr">{{expense.date | date:'fullDate'}}</tr>
  </div>
  <div class="balance-container">
    Balance:
    <tr data-negative *ngFor=" let friendAdapter of friendsAdapter" class="table-tr"
      [ngStyle]="{'color': getColor(friendAdapter.balance)}">
      {{friendAdapter.name}} =
      {{friendAdapter.balance | number : '1.2-2'}}</tr>
  </div>
</body>